	h1 {
  font-family: Brush Script MT, cursive;
		}

		.button {
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 30px;
		  transition: all 0.3s;
			cursor: pointer;
		}

		.button3 {
			background-color: #CAC7C7;
			color: black;
			margin: 10px;
			font-size: 30px;
			border: 5px solid #66A19D;
		}

		.button3:hover {
			background-color: #66A19D;
			color: white;
			margin: 10px;
			font-size: 30px;
			border: 5px solid #66A19D;
		}

		.button4 {
			background-color: #CAC7C7;
			color: black;
			margin: 10px;
			font-size: 30px;
			border: 5px solid #ff0000;
		}

		.button4:hover {
			background-color: #ff0000;
			color: white;
			margin: 10px;
			font-size: 30px;
			border: 5px solid #FF0000;
		}
	
  body {
    background:#c6c5c4;
		overflow-x: hidden;
  overflow-y: hidden;

  }